.header {
  position: fixed;
  width: 100%;
  top: 0;
  max-width: $layout-width--desktop;
  background: $background;

  .base-button {
    margin: 0 0.3rem;
  }

  .base-input {
    margin-right: 0.5rem;
  }
}