.weather-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__temperature {
    font-size: 85px;
    font-weight: 100;
    color: $textgrey;
  }

  &__icon {
    transform: scale(1.2);
  }

}