// COLORS //
$background: #f0feff;
$textgrey: #373737;
$white: #fff;
$lightblue: #87c5f5;
$blue: darken($lightblue, 20%);
$darkblue: darken($lightblue, 30%);

// SIZES //
$layout-width--desktop: 1350px;   