.home {
  background: $background;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__wrapper {
    padding: 0 1.5rem;
  }

  &__day {
    display: flex;
    overflow-x: auto;
    padding: 1rem 0;
  }

  &__item {
    // width: 40%;
    margin: 0 1rem;
    min-width: 8rem;
  }

  &__temp {
    margin-right: 1rem;
  }
}