.base-input {
  max-width: 35rem;
  width: 100%;
  flex-shrink: 2;

  &__label {
    display: block;
    font-size: 12px;
    color: $textgrey;
    text-align: left;
    font-family: 'Open Sans';
    padding-bottom: 0.5rem;
  }

  &__inner {
    height: 4rem;
    width: 100%;
    border: 2px solid $darkblue;
    padding: 1rem;

    &::placeholder {
      width: 100%;
      font-size: 14px;
      font-family: 'Open Sans';
    }
  }
}